* {
    margin: 0;
    padding: 0;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-page {
    height: 100vh;
    display: flex;
    background: #71bcfd;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-page {
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

.time {
    font-size: 3rem;
    color: #000000;
    font-weight: 700;
    margin-bottom: 10px;
}

.landing-p {
    font-size: 1.4rem;
    color: #000000;
    font-weight: 600;
    margin-bottom: 10px;
}

.location-form {
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.location-box {
    width: 90%;
    height: 30px;
    border: none;
    border-radius: 8px;
    padding: 6px 12px;
    font-size: 1rem;
    box-shadow: 3px 3px 0 2px rgba(0, 0, 0, 0.2);
}

.location-box:focus {
    outline: none;
}

.search-button {
    width: 44px;
    margin-left: 20px;
    border-radius: 100%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    filter: brightness(100%);
    transition: filter 0.1s ease-in-out;
}

.search-button:hover {
    filter: brightness(110%);
}

.search-button:active {
    filter: brightness(90%);
}